<form name="loginForm" ng-submit="onSubmit()">
  <div class="form-group">
    <label for="">Usuario</label>
    <input type="text" class="form-control" ng-model="usuario.user" required="" placeholder="Ingrese usuario">
  </div>
  <div class="form-group">
    <label for="">Contraseña</label>
    <input type="password" class="form-control" ng-model="usuario.password" required="" placeholder="Ingrese contraseña">
  </div>
  <button type="submit" class="btn btn-default">Iniciar Sesión</button>
</form>